@font-face {
  font-family: 'ce-font';
  src:  url('../font/ce-font/ce-font.eot?82cefz');
  src:  url('../font/ce-font/ce-font.eot?82cefz#iefix') format('embedded-opentype'),
    url('../font/ce-font/ce-font.ttf?82cefz') format('truetype'),
    url('../font/ce-font/ce-font.woff?82cefz') format('woff'),
    url('../font/ce-font/ce-font.svg?82cefz#ce-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ce-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flash:before {
  content: "\e100";
}
.icon-database:before {
  content: "\e104";
}
.icon-city:before {
  content: "\e107";
}
.icon-clock:before {
  content: "\e101";
}
.icon-cv:before {
  content: "\e105";
}
.icon-people:before {
  content: "\e905";
}
.icon-desktop:before {
  content: "\e102";
}
.icon-shake-hands:before {
  content: "\e106";
}
.icon-conversation:before {
  content: "\e908";
}
.icon-wifi:before {
  content: "\e103";
}
.icon-ce-data:before {
  content: "\e90c";
  color: #0058d8;
}
.icon-ce-stopwatch:before {
  content: "\e90d";
  color: #0058d8;
}
.icon-ce-trophy:before {
  content: "\e912";
  color: #0058d8;
}
.icon-ce-mind:before {
  content: "\e911";
  color: #0058d8;
}
.icon-ce-web:before {
  content: "\e910";
  color: #0058d8;
}
.icon-ce-download:before {
  content: "\e900";
  color: #0058d8;
}
.icon-ce-check:before {
  content: "\e901";
  color: #0058d8;
}
.icon-ce-building:before {
  content: "\e902";
  color: #0058d8;
}
.icon-ce-checklist:before {
  content: "\e903";
  color: #0058d8;
}
.icon-ce-clipboard:before {
  content: "\e904";
  color: #0058d8;
}
.icon-ce-conversation:before {
  content: "\e90f";
  color: #0058d8;
}
.icon-ce-dataprivacy:before {
  content: "\e906";
  color: #0058d8;
}
.icon-ce-developers:before {
  content: "\e907";
  color: #0058d8;
}
.icon-ce-computer:before {
  content: "\e90e";
  color: #0058d8;
}
.icon-ce-recruitment:before {
  content: "\e909";
  color: #0058d8;
}
.icon-ce-survey:before {
  content: "\e90a";
  color: #0058d8;
}
.icon-ce-timezone:before {
  content: "\e90b";
  color: #0058d8;
}