// Footers
footer {
  background-color: $light-blue-lighten-6;
  &.page-footer {
    bottom: 0;
    color: $white-base;
    .container-fluid {
      width: auto;
    }
    .container {
      color: $cloud-blue-base;
      span {
        font-family: "OpenSansBold", sans-serif;
      }
      input[type="text"], textarea {
        box-shadow: $z-depth-6;
        border: 0;
        &:active, &:focus {
          border: solid 1px $cloud-blue-base;
          box-shadow: $z-depth-0;
          background-color: $white-base;
        }
      }
      ul {
        &.list-unstyled {
          li {
            
            span , a{
              color: #5f89c5 !important;
              font-family: "OpenSans", sans-serif;
              font-size: $navbar-cloudemployee-font-size;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.75;
              letter-spacing: normal;
              text-align: left;
              &:hover {
                color: $cloud-blue-base !important;
              }
            }
            a {
              &.marginlist {
                margin-left: 10px;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          } 
        }
      }
    }
    .btn-floating {
      box-shadow: $z-depth-0;
      background-color: #659ae7;
      &:hover {
        background-color: $cloud-blue-base;
      }
    }
    .footer-copyright {
      overflow: hidden;
      color: $cloud-blue-base;
      line-height: 2;
      span {
        font-family: "OpenSans", sans-serif;
        font-size: 16px;
      }
    }
    a {
      color: $cloud-blue-base;
    }
  }
}